node_modules
.DS_Store
.env
.env.local
.env.*.local
pnpm-lock.yaml
.pnpm-store
/tmp
/build
/dist
/web/dist
/internal/server/static
/internal/server/docs/swagger.json
/internal/server/docs/swagger.yaml
