node_modules
.gomodcache
.DS_Store
.env
.env.local
.env.*.local
pnpm-lock.yaml
.pnpm-store
/server
/tmp
/build
/dist
/web/dist
/internal/server/static
/internal/server/docs/swagger.json
/internal/server/docs/swagger.yaml
/srv
/secure
runner/susebci/tmp
