.canvasContainer {
  width: 100%;
  height: 100%;
  // width: 100vw;
  // height: 100vh;
  // position: fixed;
  // top: 0;
  // left: 0;
  overflow: hidden;
}

.background {
  background-color: #f8f9fa;
}
